div.border-bottom
	div.container.py-4
		div.d-flex.justify-content-between
			div.d-flex.align-items-center.d-md-none
				div.mobile-nav-trigger
					span
					span
					span
			div.d-flex.align-items-center: img(src="./header/logo.svg")
			div.d-md-flex.align-items-center.d-none: ul.nav
				li.nav: a(href="#").nav-link Каталог мебели
				li.nav: a(href="#").nav-link Доставка
				li.nav: a(href="#").nav-link Оплата заказа
				li.nav: a(href="#").nav-link Гарантия и возврат
				li.nav: a(href="#").nav-link Контакты
			div.d-flex.flex-column.justify-content-center.align-items-end
				div.mt-1 +7-999-99-99-99
				div.mt-1.d-none.d-md-block: button.btn.btn-outline-primary.btn-sm Обратный звонок
				div.mt-1 с 8:00 до 20:00
//  Mobile slide menu 
aside.mobile-nav.d-sm-none
	ul.mobile-nav__list
		li.px-2
			form.mb-4.search(onsubmit='return false')
				input.border.border-light.rounded-right.searchInput.form-control.pr-5.flex-grow-1(type='text', name='query', placeholder='Кто ищет - тот найдет')
		li.mobile-nav__item
			a(href='#') Link
		