<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'template/meta.twig' %}
	</head>
	<body>
		{% include 'template/header.twig' %}
		{% include 'template/hero.twig' %}
		{% include 'template/text.twig' %}
		{% include 'template/categories.twig' %}
		{% include 'template/accordion.twig' %}
		{% include 'template/tab.twig' %}
		{% include 'template/review.twig' %}
		{% include 'template/contact.twig' %}
		{% include 'template/delivery.twig' %}
		{% include 'template/footer.twig' %}
		<script src='./index.js' type='module'></script>
	</body>
</html>
