<section>
	<div class="container py-4">
		<h2>Отзывы наших покупателей</h2>
		<div class="row mt-4">
			{% for item in data.reviews %}
			<div class="col-md-4">
				<div class="d-flex">
					<img src="./img/person.svg" alt="person">
					<div class='px-2 fw-bold'>{{ item.name }}</div>
				</div>
				<div class=''>{{ item.text }}</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
