<section id='contact'>
	<div class="container py-4">
		<h2>Наши контакты</h2>
		<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A012303fe9e47fc1558abbb85e190ed9ab8898aa4c3f3f0a26c328b18dcf5aa82&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
	</div>
</section>
