<section>
	<div class="container py-4">
		<h2 id='delivery'>Доставка по Москве и Московской области</h2>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Город</th>
					<th>Цена доставки</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Москва</td>
					<td>Бесплатная</td>
				</tr>
				<tr>
					<td>Другие города МО</td>
					<td>
						<div>
							При заказе до 10 000 руб. - 900 руб. до подъезда (дома)
						</div>
						<div>
							При заказе от 10 000 руб. - 700 руб. до подъезда (дома)
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
