<header class="bg-dark">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="./img/logo.svg" alt="" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Каталог мебели</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Доставка</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Оплата и заказ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Гарантии и возврат</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Контакты</a>
            </li>
          </ul>
          <div class="text-white">8-910-102-99-91</div>
        </div>
      </div>
    </nav>
  </div>
</header>
