<section class="bg-primary bg-gradient text-white">
	<div class="container py-4">
		<div class="row">
			<div class="col-6 d-flex justify-content-center flex-column">
				<h1>Интернет-магазин мебели для дома и офиса в Москве</h1>
				<a href="#" class="btn btn-outline-light">Подробнее</a>
			</div>
			<div class="col-6">
				<img class="img-fluid" src="./img/mebel-hero-image.png" alt=""/>
			</div>
		</div>
	</div>
</section>
