<section>
	<div class="container">
		<div class="row flex-lg-row-reverse align-items-center justify-content-center g-5 py-5">
			<div class="col-10 col-sm-8 col-lg-6">
				<img src="./img/mebel-hero-4.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
			</div>
			<div class="col-lg-6">
				<h1 class="display-5 fw-bold lh-1 mb-3">Интернет-магазин мебели для дома и офиса в Москве</h1>
				<p class="lead">Ален, придумай плиз какой-нибудь текст сюда, а то без него смотрится пустовато. Например, что у нас самый лучший в мире мебельный магазин, что у нас даже можно купить мебель и даже мы ее привезем клиенту домой.</p>
				<div class="d-grid gap-2 d-md-flex justify-content-md-start">
					<a class="btn btn-primary btn-lg px-4 me-md-2 d-flex align-items-center" href="#categories">
					<img src="./img/hand.svg" alt="hand">
					<span class="ps-2"> Выбрать товар </span>
					</a>
					<button type="button" class="btn btn-outline-dark btn-lg px-4 d-flex align-items-center">
						<img src="./img/callback.svg" alt="callback">
						<span class="ps-2">Обратный звонок</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</section>
