<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'meta.twig' %}
	</head>
	<body>
		{% include 'header.twig' %}
		{% include 'hero.twig' %}
		{% include 'text.twig' %}
		{% include 'categories.twig' %}
		{% include 'accordion.twig' %}
		{% include 'tab.twig' %}
		{% include 'review.twig' %}
		{% include 'contact.twig' %}
		{% include 'delivery.twig' %}
		{% include 'footer.twig' %}
		<script src='./index.ts' type='module'></script>
	</body>
</html>
