doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
	body 
		include header/index.pug
		.container.py-4 
			h1 Main Content
			div Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint quia, minus dignissimos culpa eaque iusto dolorum enim sapiente eligendi ratione accusantium sed deserunt praesentium assumenda odio, hic quam, nam tempore.
			div Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa aliquid, commodi eligendi quam eaque pariatur eum distinctio earum nulla aperiam vero sunt incidunt? Itaque, iusto voluptatibus illo praesentium id natus!
		script(src='./index.ts', type="module")