<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Интернет-магазин мебели для дома и офиса в Москве</title>
	</head>
	<body>
		{% include 'header.twig' %}
		{% include 'hero.twig' %}
		{% include 'categories.twig' %}
		{% include 'accordion.twig' %}
		{% include 'tab.twig' %}
		{% include 'review.twig' %}
		{% include 'contact.twig' %}
		{% include 'delivery.twig' %}
		{% include 'footer.twig' %}
		<script src='./index.ts' type='module'></script>
	</body>
</html>
