.mobile-nav-trigger {
  position: relative;
  width: 35px;
  height: 25px;
  transition: 0.3s;
  left: 10px;
  span {
    width: 100%;
    height: 3px;
    background: silver;
    display: block;
    position: absolute;
    border-radius: 10px;
    transition: 500ms;
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 10px;
    }
    &:nth-child(3) {
      top: 20px;
    }
  }
  &.mobile-nav-trigger_open {
    top: -10px;
    span {
      &:nth-child(1) {
        top: 15px;
        transform: rotate(135deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        top: 15px;
        transform: rotate(-135deg);
      }
    }
  }
}
